@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Special+Elite&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* ❄️: add google font */
#mainTag {
  /* background: url(/images/bg.jpg); */
  background-size: cover;
  font-family: 'Audiowide','Special Elite', monospace;
}

/*  ------ ❄️ nav bar style -------- */
#navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-top: 4%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

#navBar ul {
  margin-left: auto;
  margin-right: 5%;
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

#navBar ul li {
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#navBar ul li:hover {
  background-color: #f1f1f1;
  color: black;
  border-radius: 12px;
}

#navBar #navBarName {
  font-size: 2rem;
  font-weight: bold;
  margin-right: auto;
  margin-left: 3%;
}

/*  ------ ❄️  footer style -------- */
footer ul li {
  padding: 5%;
  margin: 5%;
}

/*  ------ ❄️  portfolio page -------- */
#portfolio-page .project-block {
  margin: 5%;
}

#portfolio-page .project-img {
  padding-left: 10%;
  margin-left: 10%;
}

/* ❄️ vertical align the paragraph to the center */
#portfolio-page .project-description {
  margin-right: 10%;
  padding-right: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: larger;
}